.container{
    display: flex;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}